@import 'bootstrap-sprockets';
@import 'bootstrap';

.logo {
    text-align: left;
    font-size: 20px;
}

.login {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}

.about {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}